# disallow all files without extensions
*
!*.*
!*/

# allow Makefiles
!**Makefile**
!processor/verilog

# vscode and mac specific files
.vscode/**
**/*.DS_Store


**build/**

!**/*.*
# **/*.blif
# **/*.json
# **/*.asc
# **/*.bin
**/*.hex
**/*.o
**/*.i
**/*.sr
**/*.map
#ignore all files ending with .vcd in any directory
**/*.vcd 
**/*.fst
**/*.vvp
**/*.
**/*.S
**/*.sh
**/*.bin
**/*.asc
# Ignore editor config
.vscode/
# Ignore temp/test files
out.svg
output.txt
logs/
**/*.node0
