#
#	PCF file for the iCE40 Ultra Plus FPGA (uwg30 package) on MDP board
#	On the MDP board, pin D3 of the FPGA is connected to LED D14.
#

set_io led[7] E4 -io_type LVCMOS33 -drive 2 -slew SLOW #9B
set_io led[6] D5 -io_type LVCMOS33 -drive 2 -slew SLOW #2A
set_io led[5] E5 -io_type LVCMOS33 -drive 2 -slew SLOW #0A
set_io led[4] C5 -io_type LVCMOS33 -drive 2 -slew SLOW #11B_G5
set_io led[3] B5 -io_type LVCMOS33 -drive 2 -slew SLOW #13B
set_io led[2] F2 -io_type LVCMOS33 -drive 2 -slew SLOW #25B_G3
set_io led[1] A5 -io_type LVCMOS33 -drive 2 -slew SLOW #24A
set_io led[0] D3 -io_type LVCMOS33 -drive 2 -slew SLOW #10A

#set_io tx A1 #36B
#set_io rx A2 #37A
#set_io start 43 #49A
